.title {
  height: 260px;
  background-color: #14274a;
  margin: 0;
  position: relative;
}
.title h2 {
  text-align: center;
  font-size: 60px;
  letter-spacing: 6px;
  color: white;
  margin: auto 0;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "EB Garamond", serif;
}
